.search-bar-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5%;
    width: 50%;
    border-radius: 4vh !important;
}

.search-bar-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 8vh;
}

.search-bar-input {
    padding: 0 4%;
    border: 0;
}

.search-bar-suggestion-container {
    background-color: white;
}

.search-bar-suggestion {
    height: 8vh;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 4% !important;
    padding-right: 4% !important;
}
